body {
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    line-height: 22px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(ellipse at center, rgba(230, 100, 101, 0.75), transparent);
}

.moto {
    font-size: 16px;
    margin: 10px;
    text-align: center;
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
}

.navigation > a {
    color: white;
    margin: 10px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navigation > a:last-child {
    margin-right: 20px;
}

.navigation > a:hover {
    color: red;
}

.copyright {
    position: absolute;
    z-index: 1;
    color: #777;
    bottom: 10px;
    right: 20px;
    user-select: none;
}

.copyright > a {
    color: #777;
}

main {
    color: black;
    background-color: white;
    width: 100%;
    z-index: 1;
    padding: 20px 0;
}

main section {
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    margin: auto;
}

.container > section {
    padding: 0 10px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.features > section {
    width: 250px;
    padding: 0 10px;
}

.vscode-section {
    line-height: 38px;
}

.vscode-link {
    background-color: #333;
    color: #ccc;
    text-decoration: none;
    padding: 8px 5px;
    border-radius: 3px;
    margin: 0 8px;
}

.vscode-icon {
    position: relative;
    top: 5px;
    width: 22px;
    height: 22px;
}

.vscode-separator {
    width: 1px;
    height: 28px;
    display: inline-block;
    background-color: #777;
    vertical-align: middle;
    margin: 2px;
}

.vscode-golive {
    text-decoration: none;
    background-color: #21252b;
    color: white;
    fill: white;
    margin: 0 5px;
    padding: 8px;
    font-weight: lighter;
}

.vscode-golive svg {
    position: relative;
    top: 4px;
    width: 20px;
    height: 20px;
}

code {
    font-size: 14px;
    overflow: scroll;
}

code.syntax {
    display: block;
    border-radius: 5px;
    background-color: #333;
    padding: 20px;
    margin: 20px;
    color: #aaa;
    font-size: 18px;
}

code.syntax span.command {
    color: red;
}

code.syntax span.param {
    color: #abab46;
}

code.syntax span.arg {
    color: #ccc;
}

code.syntax span.content {
    color: white;
}

code.syntax span.highlight {
    background-color: #4a5456;
}

.logo {
    height: 535px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.logo > img {
    width: 450px;
    height: 450px;
    opacity: 0.85;
}

.logo > canvas {
    transform: translate3d(0, -290px, 0);
}

footer {
    margin: 20px;
}

@media only screen 
and (min-device-width: 320px) 
and (orientation: portrait) {
    .logo {
        height: 285px;
    }
    .logo > img {
        width: 285px;
        height: 285px;
    }
}
